```
# Build artifacts
*.sch~
*.pcb~
*.pro~
*.kicad_prl
*.kicad_dru
*.kicad_wks
*.kicad_sym
*.kicad_mod
*.lib
*.dcm
*.csv
*.xml
*.svg
*.pdf
*.ps
*.eps
*.gbr
*.gbo
*.gbp
*.gbs
*.gtl
*.gto
*.gtp
*.gts
*.fab
*.pos
*.rpt
*.lst
*.bak
*.cache
*.cmp
*.erc
*.net
*.lht
*.htm
*.log
*.tmp
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.7z
*.rar
*.gz
*.bz2
*.xz
*.zst
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.Z
*.lz
*.lzo
```